<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Write a new Post!</h1>
    <form method="POST" action="/add">
    <label for="username">Author:</label>
    <input type="text" id="username" name="username"><br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br>
    <label for="content">Content:</label>
    <input type="text" id="content" name="content"><br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>